@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
// style login
@import "login/login";
@import "../developer-only/style/developer";

* {
  a {
    text-decoration: none;
  }
}
body {
  text-decoration: none;
  height: 100vh;
  background: #d2d6de;
}
